<%= description.description.split("\r").map do |line|
  raw("<p>#{line.gsub("\n", "")}</p>\n") if line.length > 2
end.join %>

<p>If you would like to vote on what I cover next, do so here! https://reactu.io/polls/newest</p>

<p>The code for this episode <a href="<%= description.repo_url %>">is on github</a></p>

<h4>Screencast info</h4>
<ul>
  <li>Length: <%= description.length %> minutes</li>
  <li>Skill level: <%= description.skill_level %></li>
</ul>

<h4>What you will learn</h4>
<ul>
<%= description.skill_list.split("\r").map do |line|
  raw("  <li>#{line.gsub("\n", "")}</li>\n") if line.length > 2
end.join %></ul>

<h4>Help keep ReactU free by donating to the project:</h4>
<ul>
  <li>Bitcoin: 1LxbzzxogbJrxT8d7e2CpnxQRezpzSJejq</li>
  <li>Bitcoin cash: 12kK8yqdQ2gxiyFCsu4yjwqTq4uMr6h5Tm</li>
  <li>Ethereum: 0xB09F0B62d2BbB6B59B898EF707916B5c93D682B4</li>
</ul>
