<div class="container-lg">
  <div><b>No:</b> <%= @description.no %></div>

  <div><b>Title:</b> <%= @description.title %></div>

  <div><b>Youtube ID:</b> <%= @description.youtube_id %></div>

  <div><b>Embed url:</b> https://www.youtube.com/embed/<%= @description.youtube_id %></div>

  <p><b>TOC</b></p>
  <textarea rows=20><%= @description.branches %></textarea>

  <p><b>HTML</b></p>
  <textarea rows=20><%= render partial: 'html', locals: {
    description: @description
  } %></textarea>

  <p><b>Text</b></p>
  <textarea rows=20><%= render partial: 'text', locals: {
    description: @description
  } %></textarea>

  <div>
    <b><%= link_to "edit", edit_description_path(@description) %></b>
  </div>
</div>